@model Finance.Web.Api.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="wrapper">
        @foreach (var loginOption in Model)
        {
            <a class="btnlogin @loginOption.Provider" href="@loginOption.Url">@loginOption.Provider</a>
        }
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.Token)) 
    {
        <div id="token">@Model.Token</div>
    }
</body>
</html>
